    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Sing a SONG</a>
          <div class="nav-collapse">
            <p class="navbar-text pull-right" id="faceuser"><a href="#" onclick="loginFB();return false;">Login</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div class="container-fluid">
<div style: "width: 0; height:0">
    <form id="singer" method="POST" action="/_upload" enctype="multipart/form-data">
        <input type="file" name="upload" accept="audio/*" id="upload" capture="microphone"/>
    </form>
</div>
<div class="progress progress-striped
     active" style="display: none" id="progressdiv">
  <div id="progressbar" class="bar"
       style="width: 0%;"></div>
</div>
<button class="btn btn-danger" onclick="sing()">Record</button>
<button class="btn btn-primary" onclick="upload()">Send</button>
</div>

<script>
function onError(error) {
    alert('Error');
}

function sing() {
    var fileUpload = document.getElementById('upload');
    fileUpload.click();
}

function showProgress(show) {
    var progressdiv = document.getElementById('progressdiv');

    if(show) {
        progressdiv.style.display = 'block';
    } else {
        progressdiv.style.display = 'none';
    }
}

function updateProgress(percentage) {
    var progress = document.getElementById('progressbar');
    progress.style.width = percentage + '%';
}

function onProgress(e) {
    if (e.lengthComputable) {
        var percentComplete = (e.loaded/e.total)*100;
        updateProgress(percentComplete);
    }
}

function upload() {
    var formData = new FormData();
    var xhr = new XMLHttpRequest();

    var fileUpload = document.getElementById('upload');
    if(fileUpload.files && fileUpload.files.length > 0) {
        var file = document.getElementById('upload').files[0];

        showProgress(true);
        updateProgress(0);
        formData.append('upload', file);
        xhr.open('post', '/_upload', true);
        xhr.addEventListener('error', onError, false);
        xhr.addEventListener('progress', onProgress, false);
        xhr.send(formData);
        xhr.addEventListener('readystatechange', function(e) {}, false);
    }
}
</script>
